<h2>Edit Sponsorship Option</h2>

<%= render "form.html", changeset: @changeset,
                        action: sponsorship_option_path(@conn, :update, @sponsorship_option) %>

<span><%= link "Back", to: sponsorship_option_path(@conn, :index) %></span>
