<h2>Edit Comment</h2>

<%= render "form.html", changeset: @changeset,
                        action: comment_path(@conn, :update, @comment) %>

<span><%= link "Back", to: comment_path(@conn, :index) %></span>
