<h2>New Post</h2>

<%= render "form.html", changeset: @changeset, post: @post, events_all: @events_all,
                        action: post_path(@conn, :create) %>

<span><%= link "Back", to: post_path(@conn, :index) %></span>
