<h2>New User</h2>

<%= render "form.html", changeset: @changeset, user: @user, roles_all: @roles_all, status_all: @status_all,
                        action: user_path(@conn, :create) %>

<span><%= link "Back", to: user_path(@conn, :index) %></span>
